[2017-06-07 17:05] ZibbyKeaton opened #1 "Refreshing Node.js Collection Review Process and Gathering Technical Editors"
TL;DR

- Recruit technical reviewers for Node.js Collection
- Confirm updated process for review looks good to Node.js Collection group

**Background**
Node.js Collection is an existing Medium publication collection that has been a successful collaboration thus far with the Evangelism working group and Communications within the Node.js Foundation. Currently we receive around 2-5 articles per month

[2017-06-07 17:11] nebrius commented on #1
cc @nodejs/community-committee @nodejs/evangelism

[2017-06-07 17:25] gr2m commented on #1
What would be the minimal time commitment / week for people who are interested to help? Say someone would be okay to review max one article per week on a specific day so they can plan with it, would that work?

[2017-06-07 17:35] ZibbyKeaton commented on #1
@gr2m given the cadence of articles at this point it would work, however if we start to get more contributions that might be a challenge. We can always cross that bridge when we get there.

[2017-06-07 20:10] hackygolucky commented on #1
So is the next step here to PR this updated documentation to this repo so folks will sign on? I think these changes sound great.

[2017-06-08 22:14] nebrius commented on #1
After discussion in today's CommComm meeting, we outlined some good next steps. I'm going to remove the `cc-agenda` label for now. Feel free to re-add it if you get blocked on something you need the committee to handle!

[2017-06-12 18:08] ZibbyKeaton commented on #1
@nebrius did the next steps include outreach to find additional technical reviewers? I know that @hackygolucky and @ashleygwilliams had some thoughts on this. I also know that @vdeturckheim @thefourtheye & @fforres had expressed previously interest in helping to review. Any of you still up for it and have the bandwidth given the new review update?

[2017-06-12 23:35] nebrius commented on #1
@ZibbyKeaton I would say the next steps are to create an onboarding path for people who want to review. I notice that the README is basically blank right now, and I think you should work on that first before starting to reach out to folks. Right now, there's no description of what the Node.js Collection is, what sort of help you need, and how to get involved, and you should have all of these thing

[2017-06-13 00:08] bnb commented on #1
@nebrius I have submitted a PR (https://github.com/nodejs/nodejs-collection/pull/2) to make the README not blank 😉

Ideally we'll get that in ASAP. I'll merge it tomorrow if there are no comments to get it shipped. I'll also pull a CONTRBIUTING guide together to get it shipped and ready to go. @vdeturckheim I know you're pretty good at the editing side of this, would love to get any input you have

[2017-06-15 03:27] dotproto commented on #1
I'm interested in helping as a editorial or technical editor. If @gr2m has time, we may even be able to collaborate as we're both in the LA area.

[2017-06-22 16:25] hackygolucky opened #5 "Add CONTRIBUTING.MD"
I saw a good point brought up in another PR that we don't have the process for submitting a PR and getting it approved. I'd be happy to file this unless someone else is already working on it.

[2017-07-01 14:53] bnb commented on #5
I don't believe someone else is working on it already. I can also file, if needed 😄

[2017-07-03 14:39] ZibbyKeaton commented on #1
@svincent and @gr2m I wanted to confirm you two are still interested in helping as technical editors? If so, would you mind sending me your email addresses and I can add you to our email alias. I will also add you as editors on our Medium site and also list you as technical editors in our guidelines section.

[2017-07-05 19:26] mhdawson opened #6 "A couple more suggestions"
https://developer.ibm.com/node/2017/07/05/node-js-errors-changes-you-need-to-know-about/

https://developer.ibm.com/node/2017/07/05/node_options-landed-8-x/

[2017-07-12 13:50] ZibbyKeaton commented on #1
Following up again on @svincent and @gr2m I have about six posts from folks looking to submit. Are you okay with being technical editors? And if so, can I add you to our alias or at least start sending you over content for a technical review?

[2017-07-12 15:08] dotproto commented on #1
@ZibbyKeaton Sorry for the delay; I missed the first notification. I'm interested and am ready to help!

[2017-07-12 15:14] ZibbyKeaton commented on #1
Awesome! What's your email address @svincent ? I'm planning to create another issue with items for review based off of my initial grammar edits. I'll put them into google document, so it is easy for you to comment/ask questions. Sound good to you?

[2017-07-12 15:32] gr2m commented on #1
@ZibbyKeaton sorry I can’t help as technical editor, I just asked the question above for more context so I could reach out to others for help, but had to luck so far I’m afraid

[2017-07-12 15:39] dotproto commented on #1
@ZibbyKeaton svincent@gmail.com should be good. Once I get the first email I'll set up a rule to mark others like it as important so they shuffle to the top of the stack 😄

[2017-07-12 20:07] ZibbyKeaton opened #7 "Node.js Collection Blogs to Edit"
@svincent We have a lot of blogs in the hopper. I think some will take a lot less time than others. I've created a special editorial calendar (below) to prioritize reviews based on ease and date sent. I have one highlighted in red. Please do not review this one as we need to provide major feedback to the author.

Please leave only suggested edits to these documents and comments, so the author can

[2017-07-13 17:03] ZibbyKeaton commented on #7
@Trott I saw that you requested access to this document. Are you interested in being a technical editor? If so, then I will divide the blog list between you and @svincent.

[2017-07-13 18:34] Trott commented on #7
@ZibbyKeaton Sorry, I mistook this for a generic call for reviews. You can ignore me. (Especially this week/weekend. Traveling and not sure how much internet access I'll have.)

[2017-07-13 19:06] dotproto commented on #7
Thanks, @ZibbyKeaton! I'll make some time to do at least one article tonight.

[2017-07-17 15:16] dotproto commented on #7
@ZibbyKeaton, sorry for the delay. I just reviewed Guilherme Oenning's article and made a few minor tweaks (e.g. url -> URL). Unfortunately, I think I did it wrong; I assumed Google Docs would auto-add comments for my changes, but it did not.

The article's terminology, API use, and code samples all look good. It might be worth considering using gitch.com to make code samples easily runnable. I to

[2017-07-17 16:46] ZibbyKeaton commented on #7
Awesome and thank you - I can easily see your changes when I look at the previous draft @svincent.

[2017-07-22 20:01] dotproto commented on #7
@ZibbyKeaton I'm at Comic Con, but I'm taking today from the festivities to get some side project work done. I'm going to take a look at "Having Your Node.js Cake and Eating It Too" since it's next in the list, but I'm hoping I can get a couple reviewed over the next few hours.

Also, a procedural note. I think I the right way to do edits on Google Docs -- we'll see soon though.

[2017-07-24 14:28] ZibbyKeaton commented on #7
@svincent you rock! Hope you had a good time at Comic Con. I saw you got through a few of these posts. I'll take a look at them and let the authors know of your edits.

[2017-07-24 15:46] ZibbyKeaton commented on #6
Sorry for the delay here:

We had one question for @sam-github; see here https://docs.google.com/a/linuxfoundation.org/document/d/1HDP2AgXmOeHtEIohsppxFD5C7BY5m2TCX1Z4qHznT3Y/edit?usp=sharing. Also, Sam do you have your own Medium page? If not, then would you mind if we posted this on the Node.js Foundation Medium page? We would link back to this original post and then also include your bio (pleas

[2017-07-31 21:35] kinsomicrote commented on #1
I will like to help as a technical editor.
Though I got started with Nodejs recently (I don't know if that will be a challenge). I am guessing this will be a good way to start contributing to the Nodejs project, before making code contribution.

I have written a handful technical articles covering Ruby, none on Nodejs for the time being.

I will like to know the requirements needed for technical e

[2017-08-01 21:50] kinsomicrote commented on #1
@ZibbyKeaton is there still an opening?

[2017-08-02 15:00] ZibbyKeaton commented on #1
@kinsomicrote yes, I think this is a great way to start contributing. Sorry for the delay in responding to you.

In terms of requirements, we are just looking for folks that are eager to help here and can review blog within around a week or two that they receive them. Most of the articles don't need a ton of technical review, oftentimes its really expanding on or explaining a point better.

In ter

[2017-08-02 21:28] kinsomicrote commented on #1
@ZibbyKeaton Thanks for the response, I do not have any questions for now.

Here is my email for Medium: kinsomicrote.inc[at]gmail.com
You can also use that to add me to the Google document.

Thanks.

[2017-08-17 22:22] bnb opened #8 "Tooling to Convert Markdown to Medium posts"
Wanted to share this, found in a blog post originally shared by @mikeal in https://github.com/nodejs/evangelism/issues/218, that may be a helpful tool for the Node.js Collection.

http://markdowntomedium.com/

This tool also raises the topic of tooling this Team uses. In combination with this, I've got a Google Script to convert Google Docs to Markdown - which could be a nice solution for us to ha

[2017-09-11 23:34] mhdawson opened #9 "Another suggestion"
https://developer.ibm.com/node/2017/08/31/use-eslint-project/

[2017-09-11 23:34] mhdawson commented on #6
These both are done closing.

[2017-09-11 23:34] #6 closed

[2017-11-09 16:50] ZibbyKeaton opened #10 "Items to Review for the Node.js Collection"
Howdy folks! We've had a few submissions into the project that I want to bring to your attention. Some for review and some to vote on.

**Items to review:**

- Benjamin Zaslavsky wrote a blog round creating and submitting an App with Google Home. I gave it an initial review, but am looking for a technical editor to provide their thoughts on it. You can view it in this google document: https://docs

[2017-11-09 21:14] Tiriel commented on #10
For obvious reasons, I won't say a word on the Google Home App article.
Except that I'll gladly accept any kind of advice!

[2017-11-15 20:19] ZibbyKeaton commented on #10
@svincent @kinsomicrote were you able to take a look at the Google Home article? I would ideally like to post it on 11/29. Do you think you can review it by that time and ensure that Ben is happy with your edits? Please let me know asap.

As for the other articles, it seems like folks are good with them. I have a few additional blogs in the hopper (i.e. blog queue) for the "How I Got Into Node" se

[2017-11-21 21:38] dotproto commented on #10
@ZibbyKeaton, sorry for the delay: I was at a conference when you pinged and it slipped off my radar by the time I got home.

I'll read through Ben's article tonight & add comments to the article as appropriate. I'm not sure if I'll have time to do the other articles tonight, but I've got a lot of time off around Thanksgiving so I should be able to look at the others soon.

[2017-11-28 00:17] ZibbyKeaton commented on #10
@svincent were you able to take a look at this over the holiday weekend?

[2017-11-28 16:00] ZibbyKeaton opened #11 "Okay to post How I Got Into #Node in Node.js Collection?"
Howdy all - Myles Borins thought it would be great to do a series on how folks got into contributing to Node.js. The intention is to provide more context into the folks that makeup the community and why folks like to participate. Hopefully this will inspire folks to begin to contribute to the project.

We've posted four thus far:

- Tierney: https://medium.com/@nodejs/how-i-got-into-node-tierney-c

[2017-11-28 16:39] Tiriel commented on #11
Just out of curiosity, do you need/want particular profiles for the series?

[2017-11-28 16:40] ZibbyKeaton commented on #11
@tiriel if you are contributing, we want to hear from you :) That's really it.

[2017-11-28 17:05] Tiriel commented on #11
Well, I’m not sure I qualify with such limited contributions, but I’ll advocate for the series 😄

[2017-11-29 07:45] dotproto commented on #10
@zibbykeaton sorry, no: something came up and threw me off schedule. I'll review this on tomorrow (Wednesday). Apologies for the delay.

[2017-11-29 16:40] ZibbyKeaton commented on #10
No worries. As always, I really appreciate your help and expertise @svincent.

Also as a FYI, Sam's article was published and JavaScript for Dinosaurs accepted our request to add the story to Node.js Collection :)

[2017-11-29 16:40] #9 closed

[2017-11-30 17:43] hackygolucky commented on #11
+1 !!

[2017-11-30 17:45] ghost commented on #11
+1!

[2017-12-05 15:49] mhdawson commented on #10
One more suggestion: https://developer.ibm.com/node/2017/12/04/node-js-community-code-coverage-a-year-in-review/

[2017-12-06 00:39] ZibbyKeaton commented on #10
All - I think at this point we should post Benjamin's blog. It is really straight forward and we've been sitting on it for almost a month. Do others feel the same way? Please send me a 👍if you agree or a 👎if you disagree by this Friday.

[2017-12-06 00:39] #11 closed

[2017-12-06 00:53] ZibbyKeaton opened #12 "Potential Articles for Node.js Collection 12.5.17"
There have been a few new articles submitted to Node.js Collection. Please let me know if you want to post. They both look good to me:

- Michael Dawson is intersted in submitting his post "Node.js Community Code Coverage – A year in review" - https://developer.ibm.com/node/2017/12/04/node-js-community-code-coverage-a-year-in-review/ - if you agree please give it a 👍 by Friday EOD

- The Node.js T

[2017-12-06 09:14] Tiriel commented on #10
I don't know how you operate usually, but as far as I'm concerned, if any one of you wants to read and make suggestions on the technical side, I'd gladly discuss them and make changes if needed! Otherwise, I evidently won't say I don't want this article to be posted. Just trying to be sure it's up to the usual standards.
@ZibbyKeaton would that be ok for you?

[2017-12-06 15:31] ZibbyKeaton commented on #10
We usually have someone give it a quick technical view, but it's just been a bit of time here and I would love to post this. I wanted to open the question up to other technical reviewers to see what they think about this, even it's a quick read that would be great. In the meantime, we created this new item on the Node.js Foundation website where we'll feature what folks are building with Node.js -

[2017-12-07 22:58] bnb commented on #12
@ZibbyKeaton who would byline on the TSC post? Just the @nodejs account?

[2017-12-07 23:06] MylesBorins commented on #12
The modules write up should be a joint byline of me and the tsc

On Dec 7, 2017 5:58 PM, "Tierney Cyren" <notifications@github.com> wrote:

[2017-12-07 23:10] bnb commented on #12
@MylesBorins so no issue with posting from the Node.js Medium account, though?

[2017-12-07 23:11] MylesBorins commented on #12
@bnb the thought was that since this is official communication regarding the stance taken by the TSC it was more appropriate to post via the Node.js medium account

Open to suggestions if people feel it should be posted on my personal account

[2017-12-07 23:12] bnb commented on #12
@MylesBorins awesome, thanks! Just wanted to be sure I understood fully - and I totally agree that posting from the official account is the best approach.

[2017-12-08 09:25] Tiriel commented on #10
@ZibbyKeaton thanks a lot! I checked the submission form, but I have pretty much the same problem I had with the original post: I can't name the client or give its logo without permission, which I probably won't be able to get. And it's online but it doesn't have a public repo nor any url (since it's an IoT project). Can it still be posted then?

[2017-12-11 18:51] ZibbyKeaton commented on #12
@mhdawson your article was posted today: https://medium.com/@nodejs/node-js-community-code-coverage-a-year-in-review-86f4f52f79de.

We will post the ESModules blog tomorrow. Closing this issue now :)

[2017-12-11 18:51] #12 closed

[2017-12-20 16:46] #10 closed

[2017-12-20 16:47] #7 closed

[2017-12-20 16:53] Tiriel commented on #10
@ZibbyKeaton Any update then?

[2017-12-20 16:55] ZibbyKeaton opened #13 "Node.js Collections for Review"
I haven't received any feedback for @tiriel post, so I'm going to do one more grammar review and post it on January 3 (at the beginning of the year). Given the holiday season, I recommend we obstain from posting blogs unless they are timely. Folks are fairly checked out at this time, on vacation, etc.

@Trott submitted the following to NC as well. It looks good to me and if you agree, please provi

[2017-12-20 16:57] ZibbyKeaton commented on #10
@Tiriel opened a new issue on this https://github.com/nodejs/nodejs-collection/issues/13. Planning to post on January 3. I want to post it after the holiday season given that a lot of folks are fairly checked out at this time 😀

[2017-12-20 16:58] Tiriel commented on #13
(Sorry for the tag in the previous issue, seems I was too quick)

This seems all fine by me!

[2017-12-20 16:58] Trott commented on #13
Definitely needs a more concise/easy-to-understand/scannable title. Not sure what that would be, but hopefully someone with editor skills/experience can come up with something.

[2017-12-20 16:58] Tiriel commented on #10
Just saw that, sorry for tagging you in here!

[2017-12-20 19:33] WaleedAshraf commented on #13
@Trott Thanks, I Agree.
By giving more time to think about what I have done, I realized that I'm mocking express session for tests, according to my need. So I have updated the title to be more understandable "How to mock express session?"
Thoughts?

[2018-01-04 21:48] Tiriel opened #14 "Submission idea: Don't loose ourselves"
Hi!

I have a new submission idea I'd like to work on, so I'd like to get advices.

The idea is quite simple:
I originally come from the PHP community. While it was considered a "sub language" some years ago, it has acquired its own legitimacy. But in the mean time, some parts of its community has grown to be more elitist, driving people away. So as our community is growing, and Node.js gaining it

[2018-01-05 16:45] mhdawson commented on #14
My suggestion would be to on the importance of being open and accepting for the Node.js community (and the potential risk of that not becoming the case as a language is successful) as opposed to 'bashing' some other group we should be ok.

[2018-01-08 21:14] ZibbyKeaton opened #15 "Node.js Collection: Submissions"
All -

- @NickNaso recently submitted an article for NC about his experience on porting bcrypt to N-API. It looks good to me, but could this group give me a 👍 if they would like to include this submission or a 👎if they would not by next week Wednesday, January 17: https://medium.com/@nicknaso/how-i-ported-bcrypt-to-new-n-api-d0b8c9fe6136

- Safia Abdalla has been writing a series on her blog that

[2018-01-08 21:21] ZibbyKeaton opened #16 "Seeking Technical Editors for the Node.js Collection"
I would love to expand our list of technical editors to the Node.js Collection. We get a lot of abstracts from folks that want to write a piece of content for the Node.js Collection, and technical editors are essential in reviewing these abstracts and providing feedback once the article is written.

Does anyone have any interest in becoming a technical editor? It's a fairly light lift and you usua

[2018-01-08 21:54] Tiriel commented on #16
Hey!
I'd love to help actually, but as I consider myself pretty much of a low level js dev for now, I don't know if I'm fit.

On the other hand, it could be seen as noob-reading the articles to ensure the can be understood by anyone... :smile:

[2018-01-08 22:46] mhdawson commented on #15
I read the last article by Safia and it seemed like a reasonable candidate to me.

[2018-01-09 00:48] dotproto commented on #16
@ZibbyKeaton, apologies for not being more involved; I want to try to change that. My biggest stumbling block to contributing right now is that I lost the Google Doc link for articles waiting for review. Are we still using a Google Doc to track that or is there another system?

[2018-01-09 01:31] ZibbyKeaton commented on #16
@svincent I've been adding articles to the Google Doc here: https://docs.google.com/spreadsheets/d/1xT8KEolYqcKj2L4Dijx8dbvwqKsOL_2uCADhK_xzOx8/edit#gid=0 and also trying to post them on GitHub. We only have one in the hopper right now that needs to be reviewed if you do have the time. I'll try to do a better job at refreshing this and then pinging people about it.

@Tiriel we would love your help

[2018-01-09 03:48] WaleedAshraf commented on #15
Safia articles are quite interesting. Might be too deep to understand for some people as she goes line by line of code, but she's doing a great job. ✋

[2018-01-09 03:51] WaleedAshraf commented on #16
I can spare some time. Not a pro dev but can do basic technical reviews. 👍

[2018-01-09 10:48] Tiriel commented on #15
I do like much Safia's articles. Indeed sometimes the explanations are quite short on some lines of code, but they are nonetheless very interesting.

[2018-01-10 14:46] ZibbyKeaton commented on #15
Another article to think of adding to the collection: https://medium.com/@muehler.v/node-js-face-recognition-js-simple-and-robust-face-recognition-using-deep-learning-ea5ba8e852. Let me know if you agree with a yes 👍 or no 👎by Wednesday, January 17.

[2018-01-10 20:34] Trott commented on #15
💯 on including Safia's series. (Haven't yet read the other stuff, so not saying anything about it here doesn't mean those articles aren't terrific as well.)

[2018-01-10 20:35] WaleedAshraf commented on #16
I have added few comments for "How locize leverages serverless" post in google doc.
It seems fine to me from technical point. Added few comments where I think it can be improved.

[2018-01-10 20:42] Trott commented on #15
The `bcrypt` article seems A-OK to me on a quick pass, except that there are some spelling and grammar errors that are quite noticeable and make it a bit jarring to read. (_guarentees_ instead of _guarantees_, _specially_ instead of _especially_, _more fast_ instead of _faster_, _on experiment_ instead of _an experiment_...)

I'm happy to give it a technical review at some point soon, but can some

[2018-01-10 20:43] Trott commented on #15
Content-wise, I am totally :+1: on the bcrypt article, although it would be good to get an N-API person to review it. Ping @nodejs/n-api

[2018-01-10 20:48] Trott commented on #15
Facial-recognition article seems 👍 content-wise too. Like almost everything that gets submitted, it could definitely use some attention from an editor. (There's no shame in needing editorial review, of course. Even full-time professional writers need it. Writing is difficult.) If it helps, the issues in this one tend to be punctuation (missing commas, missing apostrophes, missing hyphenation) and

[2018-01-10 21:01] WaleedAshraf commented on #13
Was anyone able to review https://gist.github.com/WaleedAshraf/4106be954bf522cf25bda3b59e2ea8a6 ?

I have added few updates in wording and text formatting.
cc: @Tiriel @svincent If you guys have time?

[2018-01-10 21:03] ZibbyKeaton commented on #13
@WaleedAshraf can you put this into a Google Document? Might be easier for folks to edit that way.

[2018-01-10 21:08] WaleedAshraf commented on #13
@ZibbyKeaton done. https://docs.google.com/document/d/1Sqp33WtQL9qjNNgj2JTh5Fk_pA9Mt1A7vv5JUVPohLs/edit?usp=sharing

Also added link in sheet.

[2018-01-11 09:25] Tiriel commented on #13
@WaleedAshraf Going to check this ASAP!

[2018-01-11 19:21] mhdawson commented on #15
We were discussing this in the n-api meeting today and we are all +1  on the @NickNaso  article (Note he is part of the team :))

[2018-01-11 21:28] ZibbyKeaton opened #17 "Smashing Magazine Seeking Contributed Articles on Performance"
This topic is outside of the Node.js Collection, but relates to developers that like to write, so I figured this would be the best place to share!

I was recently talking with a contributor to Smashing Magazine (thank you for the intro @bnb ). They are currently focusing on articles related to performance leading up to an event that they are hosing February 7 - 8: https://www.smashingmagazine.com/

[2018-01-11 21:39] Trott commented on #13
Last word of title should probably be _sessions_ rather than _session_.

[2018-01-11 21:39] Trott commented on #13
(Or it could be _How to mock an express session_ rather than _How to mock express session_.)

[2018-01-11 21:45] Trott commented on #13
Any chance someone can run this through an automated tool like Grammarly (or maybe Word or something has one built-in?) to quickly find and fix the little things like:

`one of the most used package` -> `one of the most used packages`

`and than further apply` -> `and then further apply`

`a express app` -> `an express app`

`testcases` -> `test cases`

`in app` -> `in the app`

`it's value` -> `i

[2018-01-11 21:47] Trott commented on #13
Content seems :+1:  to me, but I'm not an express or sinon user, so maybe we can try to loop in someone with that kind of expertise. (Or maybe other reviewers here already are?)

[2018-01-11 22:13] hashseed commented on #17
I would be willing to contribute something related to V8's startup snapshots and code caching. But I have no idea what the target audience is and what level of expertise I can expect.

[2018-01-11 22:24] ZibbyKeaton commented on #17
@hashseed audience is web developers (anything from web designers, Go developers, Node.js developers, JavaScript developers). The magazine hits a large audience, so it shouldn't be too technical. You want your content to relate to 10,000 software developers who are concerned about how big changes in the pipeline will impact them.

[2018-01-11 22:29] WaleedAshraf commented on #13
Ran through Grammarly and updated the doc. Also updated the title.
Thanks Trott 👍

[2018-01-12 07:20] bmeurer commented on #17
I could write something about TurboFan I guess. What's the timeframe? Does it need to be published before Feb 7th?

[2018-01-12 14:18] ZibbyKeaton commented on #17
@bmeurer yes, it would need to be published before Feb 7th. If you don't have the time, they are consistently looking for articles that would interest a web dev audience, so if anything comes up like a new feature with V8, strategy, etc. It might be worth submitting something to them.

[2018-01-16 23:05] jasnell opened #18 "Submission: Web Tooling Benchmark, Details"
A more detailed post about the web tooling benchmarks

https://medium.com/@jasnell/node-js-and-the-web-tooling-benchmark-c982a88cf5b6

[2018-01-17 05:54] bmeurer commented on #17
@ZibbyKeaton I talked to @mathiasbynens about this yesterday, and we'd love to contribute an article about new optimizations in TurboFan, but we can't make the deadline, since we're both on conferences/TC39 in the next weeks, and there's obviously other work. We could however do an article later this year.

[2018-01-17 16:31] ZibbyKeaton commented on #17
@bmeurer that's totally fine. Let me know when you have the time to write something up, and I'll share with the magazine.

[2018-01-18 16:32] ZibbyKeaton commented on #15
Thanks for your feedback here @Trott I asked Nicola if I could go into this and edit for grammatical purposes.

[2018-01-18 16:43] ZibbyKeaton commented on #13
@WaleedAshraf I added a few comments and questions to your post.

[2018-01-18 16:44] ZibbyKeaton commented on #18
Does this group have any edits to this. Please provide any comments that you see fit and provide a 👍 by next Thursday, January 25.

[2018-01-18 18:34] WaleedAshraf commented on #13
@ZibbyKeaton thanks. Fixed the issues and added few replies for you.

[2018-01-24 22:27] aruneshchandra opened #19 "Submission: Modernizing Node.js with idiomatic Javascript"
This is a joint post by @psmarshall and me, which talks about the benefits of removing Crankshaft optimizations in Node.  We would like to post this on the Node.js Collection on Monday Jan 29th.

https://docs.google.com/document/d/1nJHMriw_geF-yzXdfjIH7TLfSV8llRLJFoP5s2e5e1s/edit?usp=sharing

Please review and provide feedback.

[2018-02-06 18:17] WaleedAshraf commented on #13
@ZibbyKeaton I totally forgot about this.
Not sure if there is an update?

[2018-02-06 19:00] mhdawson commented on #15
@ZibbyKeaton do you know were we are on the N-API bcrypt article ?

[2018-02-06 19:23] ZibbyKeaton commented on #15
It has been posted and I requested some grammatical suggestions @mhdawson

[2018-02-06 19:57] mhdawson commented on #15
@ZibbyKeaton thanks for the update.

[2018-02-06 21:35] ZibbyKeaton commented on #13
@WaleedAshraf I need to take a look at it based on the updates you made. I'm sorry it's taken me so long. I got the flu and have been really delayed with things. I have it on my cal to review this week though!

[2018-02-06 22:02] WaleedAshraf commented on #13
No problem and get well soon :) 👍

[2018-02-08 17:46] #19 closed

[2018-02-08 17:47] ZibbyKeaton commented on #18
@jasnell didn't hear anything back ground this group. Are you okay with me posting this on N.C. on Monday, February 12?

[2018-02-08 17:48] #17 closed

[2018-02-09 19:32] jasnell commented on #18
Yep of course!

On Feb 8, 2018 09:47, "Zibby Keaton" <notifications@github.com> wrote:

[2018-02-12 22:08] ZibbyKeaton commented on #18
@jasnell Medium updated it's policy and publications can no longer add stories to their publication. What you have to do now, is invite someone to be a writer and then the writer needs to submit his/her story to the publication. I just added you as a writer to the publication, so you should now be able to submit this story to the Node.js Collection. At the bottom of the story, hover over the three

[2018-02-12 22:19] ZibbyKeaton commented on #15
@WaleedAshraf I would like to post your blog on Wednesday. I just added you as a writer to the publication, so please submit it directly on Wednesday. Just go to the bottom of the article with the three dots and it will give you the option to submit it!

[2018-02-12 22:24] ZibbyKeaton commented on #13
@WaleedAshraf please submit your Medium post to Node.js Collection on Wednesday. I've made you a writer :)

[2018-02-12 22:24] #13 closed

[2018-02-12 22:24] #16 closed

[2018-02-12 22:26] ZibbyKeaton opened #20 "Request: Planning for Apostrophe 3.0"
Submission: The ApostropheCMS team has been hard at work improving our software and we’ve started the planning for Apostrophe 3.0. In our latest Medium post we talk about how we are going to switch to a front-end framework like React or Vue.js for the admin, how we plan to update the asset pipeline to include a modern preprocessor out of the box, and how we are reaching out to the community for fe

[2018-02-13 04:59] Trott commented on #20
No opinion on the content. The article itself is refreshingly light on typographical errors compared to other entries we've had. There is a typo in the very first sentence (missing the word *a* between *over* and *year*). First impressions matter, so I would definitely get that fixed before publishing.

[2018-02-13 05:00] Trott commented on #20
(While at it, the first sentence should also get a comma after *ago*, and it should be styled *npm* rather than *NPM*. I mean, might as well get all the little fixes in that first sentence. :-D )

[2018-02-13 05:28] WaleedAshraf commented on #15
Sure 👍 @ZibbyKeaton
Thanks.

[2018-02-13 15:51] bobclewell commented on #20
@Trott, thanks for the feedback. I made the edits you noted.

[2018-02-13 16:56] ZibbyKeaton commented on #20
Few other suggested grammatical changes:

- Consistency in writing Vue as Vue.js and React as React.js (just keep the writing of these two consistent throughout)

- Suggest writing front-end as frontend, and again keep consistent through entire piece

- Define splash? Any quantitative data you can share on download numbers?

- A recurring theme being the front-end architecture of the admin experie

[2018-02-13 22:18] bobclewell commented on #20
@ZibbyKeaton Thanks for all the fantastic feedback! I've addressed everything except (note to self) the below 2 items. I'll likely address those tomorrow after a bit more thought.

* Define splash? Any quantitative data you can share on download numbers?

* A recurring theme being the front-end architecture of the admin experience and the amount of dependencies Apostrophe was pushing to the browse

[2018-02-15 18:33] bobclewell commented on #20
@ZibbyKeaton I've made some additional edits to address your questions by updating the introduction. Again, thanks for the feedback! We are looking forward to its publication in the collection. Cheers.

[2018-02-16 15:52] ZibbyKeaton commented on #20
Thanks @bobclewell. Let's plan to get this on the blog on Wednesday of next week. In terms of next steps, I will make you ApostropheCMS a writer of the Node.js Collection and then you can submit the story on Wednesday. There's a new process for publications, so I can no longer request a story. You have to be a writer of the publication and submit it on your own. Sound good to you?

[2018-02-16 15:57] ZibbyKeaton commented on #18
Hey @jasnell did you submit your story? I haven't seen it come through yet...

[2018-02-16 16:42] bobclewell commented on #20
Sounds good to me @ZibbyKeaton, I think. Just to be clear, on Wednesday, I should resubmit the article to `medium@nodejs.org` after you make our account a writer, correct?

[2018-02-16 16:47] ZibbyKeaton commented on #20
That is correct @bobclewell

[2018-02-21 16:47] ZibbyKeaton commented on #20
Added ApostropheCMS as a writer - please feel free to submit the article @bobclewell

[2018-02-21 16:51] bobclewell commented on #20
@ZibbyKeaton Done. 😄

[2018-02-21 16:57] #20 closed

[2018-02-21 18:14] #18 closed

[2018-02-21 18:14] #15 closed

[2018-02-21 18:28] ZibbyKeaton opened #21 "Node.js Collection Submission February 21, 2018"
I have two article submissions for Node.js Collection.

The first one is around the Node.js Security Roadmap (it needs a title). All and all the content looks good to me and I didn't see a ton of grammatical errors. Could folks give me a 👍 if they agree that this should be added to Node.js Collection or a 👎 if you don't think it should be added by February 28.

Node.js Security Roadmap here: https

[2018-02-21 22:52] Trott commented on #21
@ZibbyKeaton Following the Google Docs link you provide results in this:

<img width="788" alt="screen shot 2018-02-21 at 2 51 58 pm" src="https://user-images.githubusercontent.com/718899/36510121-d2215ea0-1716-11e8-87b9-6b85f1be9252.png">

I (and other reviewers) could ask permission to see the doc if necessary, but if it could be opened up a bit so that wasn't necessary, that would probably be b

[2018-02-21 22:56] MylesBorins commented on #21
Can you try this link and tell me if it any better?

https://docs.google.com/document/d/1kXJ7izscnOTR_K75BPXH-1BfPKZ3UN80Z5VipRv2ap4/edit?usp=drivesdk

On Wed, Feb 21, 2018, 5:52 PM Rich Trott <notifications@github.com> wrote:

[2018-02-21 23:33] Trott commented on #21
@MylesBorins Same result with that link.

[2018-02-21 23:41] MylesBorins commented on #21
I'll fix this tomorrow. My apologies

On Wed, Feb 21, 2018, 6:33 PM Rich Trott <notifications@github.com> wrote:

[2018-02-22 15:02] ZibbyKeaton commented on #21
This link should work. I only have comments enabled, so we can see the changes. If folks have edits suggestions, please leave a comment. https://docs.google.com/document/d/1LjdipYoCgNtIAdOvBZl7_5Jg91qC1cLtYqtecQpW7L0/edit

[2018-02-27 22:00] ZibbyKeaton commented on #21
As a follow up to this, @mhdawson and the TSC have been working on a blog around their initiatives and roadmap for the year. I would like to post this tomorrow. Please let me know if anyone has objections: https://docs.google.com/document/d/1JKXqrgImDg7ZDtumtjHbsdXHO-6_Zt2nlRWmRxbo_40/edit

[2018-03-05 17:48] MylesBorins commented on #21
Are we good to post the security roadmap now? I know that @mikesamuel was considering posting to their personal medium... what are the next steps?

[2018-03-06 10:44] WaleedAshraf commented on #21
I don't think *Heroku’s handshake with mlab* is related to Node.js OR Node.js developers. It's a nice step by step guide on how to integrate mlab in Heroku but no relation to Node.js at all.

👍 for Node.js Strategic Initiatives and Security Roadmap

[2018-03-06 14:41] ZibbyKeaton commented on #21
@MylesBorins @mikesamuel - I have a few super minor items that need to be addressed before we post this: we need a title and an image. I always request an image to be included as this looks better when we share it on social + it helps us with engagement. Once we have this, it should be good to post. I know with other community-related posts, we've generally had the Node.js Foundation post it and p

[2018-03-08 16:03] ZibbyKeaton commented on #21
@MylesBorins @mikesamuel updated the document with a suggested title and suggested images. LMK what you think, and please confirm if Mike is going to post to his Medium blog or if you want me to post it on the Node.js Foundation's.

[2018-03-08 16:33] ZibbyKeaton opened #22 "Node.js Collection Submissions March 8"
I have just one submission for this week:  https://blog.octo.com/en/clean-node-part-1/. Please let me know if folks want to add it into the Node.js Collection publication with a 👍 or not add it in with a 👎 by March 15 (next Thursday). I need to confirm a few things as well with this author, mainly that this publication will allow us to publish it on our collection. I will also request that npm is

[2018-03-12 14:03] ZibbyKeaton commented on #22
Another article to add to the list here from Matteo Collina and Tomas Della Vedova around Fastify hitting 1.0.0. Please let me know if you want to add it into the Node.js Collection publication with a 👍 or not add it in with a 👎 by March 15.

[2018-03-12 15:28] SarahKConway commented on #22
:+1:

[2018-03-12 15:49] WaleedAshraf commented on #22
@ZibbyKeaton just to be clear, it's this article: https://medium.com/@fastifyjs/fastify-goes-lts-with-1-0-0-911112c64752

Right?

I saw few typos in it, like:
forwishen -> fruition
`fast-json-stringify` -> code blocks are not working
contributors that assisted us though -> contributors that assisted us **through**
Fastify as part as their daily job -> Fastify as part **of** their daily job

[2018-03-12 15:54] ZibbyKeaton commented on #22
Yes @WaleedAshraf! Sorry for not including it the first time around :)

[2018-03-16 03:24] trivikr opened #24 "Create a tag for "How I Got Into Node" posts"
_From @trivikr on March 15, 2018 8:44_

Hi,

I came across "How I Got Into Node" series from nodejs/community-committee/issues/138, the first post can be be viewed [here](https://medium.com/the-node-js-collection/introducing-how-i-got-into-node-398391594833)
There are [more posts](https://www.google.co.in/search?q=%22how+i+got+into+node%22), but I couldn't find a way to view them as a collection/s

[2018-03-16 03:24] trivikr commented on #24
_From @bnb on March 15, 2018 13:27_

Hey there @trivikr 👋

This is probably a discussion that best goes into the [Node.js Collection Initiative](https://github.com/nodejs/nodejs-collection) repo, since the Node.js Collection is where that content lives.

[2018-03-19 20:27] bnb commented on #24
cc @ZibbyKeaton - this is definitely an interesting idea, though I don't know if there's actually space in the nav for it 😬

[2018-03-26 03:55] trivikr commented on #24
Tags improve Medium experience in other ways ([blog post](https://blog.medium.com/introducing-tags-to-medium-1b6182fd3dbd#529c))

Even if there's no space in the nav, viewers will be able to browse the tag at the bottom of the "How I got into Node" posts. That tag is currently not present ([example post](https://medium.com/the-node-js-collection/how-i-got-into-node-uttam-pawar-4c62d3840a78))

[2018-03-26 14:15] ZibbyKeaton commented on #24
My general strategy with tags is to make the articles more discoverable and less about navigation. I tag them with Node.js and JavaScript, so Node.js and JavaScript developers might find them. Additionally, I tag them with open source as this then generates these posts into our community tab on the publication page. There are a lot of community posts, however, and thus the series gets drowned out

[2018-03-26 14:44] trivikr commented on #24
Thanks @ZibbyKeaton
I'm able to see "How I got into #Node" posts under HowIGotIntoNode tag at https://medium.com/the-node-js-collection/tagged/HowIGotIntoNode

The tag is visible at the end of the individual posts too ([example post](https://medium.com/the-node-js-collection/how-i-got-into-node-uttam-pawar-4c62d3840a78))
This will help readers to read related posts.

[2018-03-26 15:48] #21 closed

[2018-03-26 15:57] ZibbyKeaton opened #25 "Submission Requests for Week of March 26"
Howdy all - I've received a few submissions for the Node.js Collection that you can all find in our shared editorial calendar: https://docs.google.com/spreadsheets/d/1xT8KEolYqcKj2L4Dijx8dbvwqKsOL_2uCADhK_xzOx8/edit?usp=drive_web&ouid=107471902318831510062

I need one of our technical editors (or two) to look at these articles and confirm that they are okay to post from a technical standpoint. I w

[2018-03-27 21:19] WaleedAshraf commented on #25
I have found few grammar  mistakes in Fiqri Ismail post: https://medium.com/@fiqriismail/writing-your-first-node-js-rest-api-service-5608f2fb703a

But there is no google doc link in the sheet. Same case for other articles.

[2018-04-06 15:15] ZibbyKeaton commented on #25
@WaleedAshraf I requested they send a google link, but haven't heard back.

As an update, I went through and edited a few articles this morning. I would like to publish @WaleedAshraf 's post week of April 16. @bnb or @svincent do you have any comments/questions on this post from a technical perspective? https://docs.google.com/document/d/1a3vz2743yKP_fC72BNbVl6vLrW0aF3rflauJ-SuQV1o/edit#heading=h.

[2018-04-08 06:03] codeekage commented on #25
thanks, @ZibbyKeaton, and @WaleedAshraf for the edits... However, I'd love if @WaleedAshraf and @ZibbyKeaton would be interested in the writing programme.

[2018-04-09 20:43] WaleedAshraf commented on #25
@codeekage thanks and Sorry I didn't understand what you mean by "writing programme"?

[2018-04-09 21:06] codeekage commented on #25
From the documentation you review, I'm not so sure if you noticed it, but you could review the document again for the Node.js Africa Writing Programme.

[2018-04-09 22:11] WaleedAshraf commented on #25
Oh, I get it.
Well, I'm not a professional blogger or writer. 😭  But still, I would love to provide any assistance/help if needed. 👍

[2018-04-10 07:10] #24 closed

[2018-04-12 13:47] ZibbyKeaton commented on #25
@codeekage I can try to help as best as I can. Just let me know when and what you would need.

I have received the google document for the article "Clean Node." I need to make a few minor edits, but overall the content looks really good. Please let me know if someone on the technical review team sees any red flags by next Thursday (4/19). If you also agree that this should be posted, please provid

[2018-04-24 14:39] ZibbyKeaton opened #26 "Adding release line news to Node.js Collection"
I would like to add the recent announcement of Node.js 10 and our updates on what's happening with Node.js versions in April to the Node.js Collection. Here are the blog for reference:

Node.js 10 News: https://medium.com/@nodejs/the-node-js-project-introduces-latest-release-line-node-js-10-x-bf07abfa9076

Node.js April Release Line News: https://medium.com/@nodejs/april-2018-release-updates-from-

[2018-04-24 22:15] mhdawson commented on #26
+1 from me.

[2018-05-14 17:28] mhdawson commented on #25
Not sure if this is still the right place but I'd like to add https://developer.ibm.com/node/2018/04/29/node-js-help-and-support/ for consideration.

[2018-05-14 20:38] #26 closed

[2018-05-14 20:41] ZibbyKeaton commented on #25
@mhdawson this looks good. I put it in our editorial calendar. Mind providing me with Gireesh's email address so I can reach out directly on adding this and bio requests?

[2018-05-14 20:49] ZibbyKeaton opened #27 "Node.js Collection Submission for May"
We've received a flurry of submission and I wanted to confirm with this group that you are okay with us posting the below - I would need to do minor grammar scrubs on a few.

Since there are multiple submissions here, please list out all of the titles with a Y next to the ones that you would like to add and a N next to ones that you do not think are appropriate with a sentence explaining the reaso

[2018-05-14 21:04] mhdawson commented on #27
In respect to this one: NATIVE EXTENSIONS FOR NODEJS I'd like this line

[code]
updated to reflect the current status (stable in master/10.x, soon to be stable in 8.x and experimental in 6.x)

[2018-05-14 21:10] mhdawson commented on #27
I went to look at this one: Machine Learning in JavaScript with Propel and the site just says

[code]
So I'm thinking that one may not make sense.

[2018-05-16 21:52] mhdawson commented on #25
@ZibbyKeaton done through email.

[2018-05-16 23:06] WaleedAshraf commented on #27
I was able to go through these.
- NATIVE EXTENSIONS FOR NODEJS **(Y)**
- Evaluating Cypress and TestCafe for end to end testing **(Y)**
- Microservices in the microcosm **(N)**
It's a good article, but doesn't share anything about Nodejs or even Javascript. I think people who follow Nodejs-Collection, expect something related to Nodejs.
- Bringing the nodejs/help backlog down by 90% over 2 months,

[2018-06-01 15:45] #22 closed

[2018-06-01 18:56] ZibbyKeaton commented on #27
@WaleedAshraf article looks good. I provided a few edits to it (track changes on) and had a couple of suggestions and questions, once you address these feel free to submit it to Node.js Collection.

[2018-06-02 17:24] WaleedAshraf commented on #27
@zibbykeaton thanks.
I will submit it within few days.

[2018-06-06 15:11] ZibbyKeaton commented on #27
All, I have another submission. This is around running Node.js on different GCP products - it's a series. Can folks let me know if they would like add this in by June 13 (i.e. next Wednesday): https://medium.com/@melnyk.dima/time-to-hello-world-part1-overview-8624fa38e523

[2018-07-17 19:21] ZibbyKeaton commented on #25
I think all of these posted, so I'll close this comment now :)

[2018-07-17 19:21] #25 closed

[2018-07-17 19:26] ZibbyKeaton opened #28 "N-API Blog Post Looking to Post Tomorrow, 7.18.18"
Howdy all - The N-API team would like to post a N-API centric blog tomorrow, 7.18.18 as they will be speaking at Node Summit and want to make sure folks are aware of their presentation. I think this looks good, but wanted to make sure others were onboard with this: https://medium.com/@arunesh/b76cfab49bcc

Please give me a 👍 (if you agree with posting) or 👎(if you disagree with posting) by tomorro

[2018-07-17 20:02] NickNaso commented on #28
I just read the article and seems good to me. I'm part of N-API team so I don't vote. I want only leave a positive feedback about the content of the article.

[2018-07-17 22:36] Trott commented on #28
I assume this will get a good round of edits before posting. If nothing else gets edited, at least please correct the typo in the first sentence. (Should be either "You may hear" or "You may have heard" but not "You may heard".)

Other stuff:

* Missing hyphens ("built in" -> "built-in", "Compute intensive" -> "Compute-intensive", "hands on" -> "hands-on")
* Mixing of different verb tenses ("Porti

[2018-07-17 22:38] Trott commented on #28
Would this be the right place to suggest https://medium.com/@Trott/windows-developers-node-js-core-wants-you-728a6107a1bb for the collection? (EDIT: If it's not aligned with the usual focus of the Node.js Collection, then please spike it.)

[2018-07-18 21:10] ZibbyKeaton commented on #28
Thanks @Trott this is the right place to post this and it's perfect for Node.js Collection as it relates to our community. If folks want to add this to the collection, please provide a 👍to this post, if you don't want to add it, please provide a 👎 to this post by next Wednesday, July 25.

[2018-08-21 13:31] ZibbyKeaton opened #29 "Blog Posts for Week of August 27"
All -

I received a few posts for the Node.js Collection this August. It's been fairly quiet for August and July. Both of these look good to me, but I wanted to confirm if the group had any red flags or suggestions. Please send them to me by next Monday, August 27. I'll aim to post one on Tuesday and one on Thursday of next week:

- Image Manipulation Using Express: https://medium.com/@Packt_Pub/i

[2018-08-21 17:54] Trott commented on #29
The code formatting in the image manipulation article makes the code nearly unreadable. (I'm not talking about the first two screenshots, but the many subsequent segments where there's actual code you can copy/paste.) Honestly, I'm not sure it's worth reviewing the article until that's fixed. It will be error-prone to review the code without any indentation like that, etc.

Example of the problema

[2018-08-22 15:45] WaleedAshraf commented on #29
Agree with @Trott
All code snippets in the first article should be created using gist.

Thumbs up 👍 for the second article: Continuous Deployment for Node.js on the Google Cloud Platform.

[2018-08-22 17:27] ZibbyKeaton commented on #29
Thanks for the feedback. I made the request with the author and will share the updated version when I have it. I've received a few more articles from Matheus Marchini who is a member of the Diagnostics Working Group. Below is a full article that he's written and another is an abstract. I like both topics; let me know what y'all think with a 👍 or 👎:

**Taming the dragon: using llnode to debug your

[2018-08-22 22:19] WaleedAshraf commented on #29
**Taming the dragon: using llnode to debug your Node.js application:**
The article is well written, but I think It doesn't solve the problem it looks it is intended for. As I read the whole article and the last line is:

It should be mentioned explicitly in the start.

**Finding performance bottlenecks in your Node.js application:**
👍 for abstract.

[2018-08-29 15:31] ZibbyKeaton commented on #29
The article from Packt has been updated (this is the one where we had issues with the code block). Let me know if this works or if want the gist links directly into each section that shows code:
https://medium.com/@Packt_Pub/image-manipulations-using-express-7398a6fa1491

We also have a new submission, "8 Keys to Successful Third Party API Integration." It reads well to me and although not directl

[2018-08-29 18:32] Trott commented on #29
Code formatting is still 👎 on that Packt article. No indentation, etc.

[2018-08-29 22:31] WaleedAshraf commented on #29
👎 for Packt article code formatting.

[2018-09-05 22:16] ZibbyKeaton commented on #29
How about now with the formatting: https://medium.com/@Packt_Pub/image-manipulations-using-express-7398a6fa1491

[2018-09-06 02:54] Trott commented on #29
Formatting is still missing indentation which is a total deal-breaker IMO. Makes the code very difficult to read.

[code]

[2018-09-06 12:11] WaleedAshraf commented on #29
Should be like this.
[code]

And all the gist are `.txt` files. It should be `.js`

[2018-09-10 13:42] ZibbyKeaton commented on #29
@WaleedAshraf can I connect you directly to the author to help them solve this issue. I think that will likely be easier here.

[2018-09-11 20:57] WaleedAshraf commented on #29
@ZibbyKeaton yes. Sure.

[2018-09-14 20:41] #27 closed

[2018-09-14 20:42] ZibbyKeaton commented on #1
I believe we can close this. Let me know if it needs to be reopened.

[2018-09-14 20:42] #1 closed

[2018-09-14 20:43] ZibbyKeaton commented on #28
@Trott is this post still relevant? I realize I never followed up with you on this. You are an author of the Node.js Collection, so you should be able to submit this directly.

[2018-09-14 20:52] ZibbyKeaton opened #30 "Submissions for Week of 8.14.18"
Ben Coe has been working with several folks at Google and on the Node.js project over the past year to add code coverage functionality to the project. He just finished writing a draft telling the story of this experience: https://gist.github.com/bcoe/e0a92ac00c67f6f61ae83ae49333ea49

I think this is a good fit for the Node.js Collection. If you agree, please confirm with a 👍 if you disagree please

[2018-09-15 05:46] Trott commented on #28
I consider it still relevant, yes.

[2018-09-15 06:07] Trott commented on #30
Gave it a very quick look (because: weekend), but the topic is 👍 and nothing jumped out at me as problematic.

[2018-09-18 16:33] WaleedAshraf commented on #29
@Trott can you take a final look at: https://medium.com/@Packt_Pub/image-manipulations-using-express-7398a6fa1491

Author has fixed the formatting. 👍 from my side.

[2018-09-18 19:16] Trott commented on #29
Formatting looks fine. I haven't read it yet so I have no comment on the content (yet?).

[2018-09-20 21:23] mhdawson commented on #30
Asked a few questions on the article.  Would like us to position versus make coverage so that we don't have confusion as to when we'd recommend one versus the other.

[2018-09-21 09:05] WaleedAshraf commented on #30
Nice 👍
It's nice to have a built-in coverage tool. It'd be better if we can clearly mention that it's in a very early stage right now. Expect bugs and missing features. (not production ready yet)

[2018-10-10 03:43] WaleedAshraf commented on #29
@Trott any update on this?

[2018-10-10 04:14] Trott commented on #29
Was hoping others would take a look, to be honest. Image manipulation is not my area of expertise and I'm not using Express much these days either. I mean, it seems OK to me I guess, but I'd hope someone else more interested and/or experienced would take a look.

[2018-10-12 18:22] WaleedAshraf commented on #29
@ZibbyKeaton can we tag someone else for review?
@nodejs/nodejs-collection

[2018-10-29 16:21] ZibbyKeaton commented on #28
I am going to close this issue - @Trott please submit to Node.js Collection and let me know if you have any trouble with this.

[2018-10-29 16:21] #28 closed

[2018-10-29 17:02] ZibbyKeaton opened #31 "Node.js Collection Suggested Updates and Changes"
**As the Node.js Collection grows, I've noticed a few challenges arising:**
- There is no current process for onboarding editors
- There is no set standard for reviewing content - this has slowed down the process of getting items reviewed and submitted
- We are not fully utilizing the automation features of Medium

**Given this, I would recommend the following:**
- A more formalize submission proc

[2018-10-29 22:36] WaleedAshraf commented on #31
@ZibbyKeaton this is great and much needed. I'm not sure who but we should ping more folks here. We need more people in the review process.

[2018-11-01 22:03] ZibbyKeaton opened #32 "Blogs Week of October 28, 2018"
I've been a bit behind with Node.js Collection items... But I have a few that are looking pretty good.

- [ApostropheCMS 3.0](https://medium.com/@apostrophecms/7a5685db1f0a): the work begins! This is the second piece of content we've received from the group, they also provided us details in how they created ApostropheCMS 2.0 too. I think it's informative and well written. Please give this a 👍by ne

[2018-11-06 23:19] ZibbyKeaton commented on #31
Tagging @bnb @Trott as they have been editors/writers in the past. Wondering if y'all had any thoughts on the suggested changes that I've proposed?

[2018-11-29 20:50] amiller-gh commented on #31
@nodejs/community-committee – friendly reminder to email medium@nodejs.org if you're interested in helping edit incoming articles as discussed in todays meeting!

Rachel will help codify these changes and get the new process into gear.

[2018-11-30 22:14] RRomoff commented on #31
Thanks Adam. Happy to have joined the Comm comm and to be working with you all. If there's any additional feedback to what Zibby already outlined, please let me know and we can chat through during the next meeting. I'm also doing some best practices research to see how else we can best utilize medium. Happy to share what I find out and see how we can incorporate.

[2019-01-25 06:45] codeekage opened #33 "Node.js Speakers Bureau"
Hey 👋, can they be a blog post to engage the public on Node.js Speaker Bureau Programme?

I'd also suggest preparing slides, and short briefs around nodejs related topics and activities for speakers that can be easily submitted to event organiser.

This brings some sort of uniformity in the nodejs projects and nodejs attended events around the global. Giving the community one voice, and speaking t

[2019-05-15 02:39] Emuentes opened #35 "Interested in becoming a technical editor"

[2019-06-13 16:56] WaleedAshraf opened #36 "Access to nodejs-collection repo"
Hi @amiller-gh

As I'm into nodejs-collection updates, can I get push access to this repo?

[2019-06-22 21:45] amiller-gh commented on #36
👍

[2019-06-22 21:45] #36 closed

[2019-08-07 21:10] WaleedAshraf opened #38 "Add @RRomoff to nodejs-collection repo."
@amiller-gh
Can you please add Rachel to nodejs-collection repo. As she is working with Nodejs Collection and its process.

[2019-08-07 21:50] amiller-gh commented on #38
👍added

[2019-08-07 21:50] #38 closed

[2020-01-28 10:06] WaleedAshraf opened #39 "Access of medium account and email."
While working on the new process for blog submission, I have a few questions.

- Who has access to medium@nodejs.org email?
- Who is on the list to get emails sent to this id?
- Who has access to the Node.js Collection Medium account?
- Who is on the editor list?
- What are other roles on the Medium account?

Also,
I want to get access to both the email address and the Medium account so that I can

[2020-01-28 14:45] ahmadawais commented on #39
I'd also like to help improve and understand the process of new blog post
submission. 👋

--

AHMAD AWAIS <https://twitter.com/MrAhmadAwais/>
❯ Open Source & JavaScript Dev Advocate ❯ Node.js Foundation Community
Committee Member
❯ Google Developers Expert for Web Tech ❯ WordPress Core Developer ❯ EE-CS
Engineer
❯ Hilarious comedian ❯ Self-confessed technology addict. ;)

*→ Read my blog: AhmadAwai

[2020-08-08 13:37] WaleedAshraf commented on #5
I don't think we need this now. Closing this issue. Feel free to open again, if needed.

[2020-08-08 13:37] #5 closed

[2020-08-08 13:38] WaleedAshraf commented on #8
I don't think we will need this anytime soon. Closing this issue. Feel free to re-open if needed.

[2020-08-08 13:38] #8 closed

[2020-08-08 13:40] WaleedAshraf commented on #14
I'll close this issue for now. @Tiriel If you need any advice, feel free to open re-open.

[2020-08-08 13:40] #14 closed

[2020-08-08 13:40] WaleedAshraf commented on #29
Closing this issue as the date has passed for the blog post. Thanks everyone.

[2020-08-08 13:40] #29 closed

[2020-08-08 13:42] WaleedAshraf commented on #31
We have simplified the process as per this issue: https://github.com/nodejs/community-committee/issues/608
I'll close this issue. Feel free to re-open if needed.

[2020-08-08 13:42] #31 closed

[2020-08-08 13:42] WaleedAshraf commented on #32
Closing this issue as the date for blog post has passed. Thanks.

[2020-08-08 13:42] #32 closed

[2020-08-08 13:44] WaleedAshraf commented on #33
@codeekage If you have something to publish, feel free to submit it for review. We can also discuss this in the next CommComm meeting if you want.

[2020-08-08 13:47] WaleedAshraf commented on #35
Hi @Emuentes, sorry for the delayed response.
If you are still interested, I can add you to the medium editor's email list.

[2020-08-08 13:50] WaleedAshraf commented on #39
I got the access to Medium account to manage it. Good for now. I'll close this issue.
@ahmadawais You may already know, we have [simplified the process](https://github.com/nodejs/nodejs-collection/pull/41). Limited to collaborators and contributors, though anyone can get in touch through the email. If you have more questions, feel free to reach out to me.

[2020-08-08 13:50] #39 closed

[2020-08-22 14:53] Emuentes commented on #35
@WaleedAshraf sure, I think I will enjoy helping out. Happy to contribute.

[2022-03-25 20:31] WaleedAshraf commented on #33
I'll close this issue as there's no progress. Feel free to reopen if needed.

[2022-03-25 20:31] #33 closed

[2022-03-25 20:38] WaleedAshraf commented on #35
Hi @Emuentes. Really sorry for the late response, second time.
The [nodejs/community-committee](https://github.com/nodejs/community-committee) got retired and this initiative also. Though, we still have kept Node.js Collection Medium page, for occasional posts and announcements. Are you still interested?

[2022-03-25 20:47] WaleedAshraf opened #42 "Node.js localization"
We have received a submission for this article. Would be nice if people can review it.

https://docs.google.com/document/d/1SkBjFe9zLxKIRRhGhU5VcUFSSB6cYNkfh9AhBpl4gnc/edit

cc @alexandrtovmach @JohnTitor @mcollina @bnb

[2022-03-25 20:47] Emuentes commented on #35
@WaleedAshraf I don't know that I will have as much bandwidth for this as the younger me did 😂

If you want to chat via zoom/slack -- or something a little easier to connect over than GitHub repo comments -- I'm interested in understanding what is actually still needing to be done.

Find me in the NodeJS slack workgroup if you would like to discuss.

Thanks for the reply, no worries about the dela

[2022-03-25 20:51] bnb commented on #42
IMO we should not be publishing to the collection anymore.

[2022-03-25 21:10] WaleedAshraf commented on #42
@bnb Should I update the readme that it's limited to Node.js collaborators and working groups?

[2022-03-25 21:13] WaleedAshraf commented on #42
The last post was on 10th Jan. I'm not sure who posted/approved it.
https://medium.com/the-node-js-collection/help-wanted-node-addon-apis-road-to-full-unit-test-coverage-1d3dbef8f7ab

[2022-03-25 21:31] WaleedAshraf commented on #35
Discussed with @Emuentes that it doesn't make sense to add more reviewers now as the initiative is not active anymore. I'll close this issue.

[2022-03-25 21:31] #35 closed

[2022-05-11 02:03] WaleedAshraf opened #44 "Cleanup nodejs-collection and accounts related to it."
Node.js Collection initiative was kind of left out when we retired CommComm, and we didn't make any final/concrete decision on it.

These are the accounts we have on Medium

- Node.js Collection Publication: https://medium.com/the-node-js-collection
- Node.js user account: https://nodejs.medium.com/
- Email: medium@nodejs.org (I'm on this alias, not sure who/how many more people we have)
- 18 peop

[2022-05-11 17:28] BethGriggs commented on #44
I'm not familiar with the Medium user deactivation consequences - will articles such as [Undici 4](https://nodejs.medium.com/introducing-undici-4-1e321243e007) and [Node.js 16 Release Announcement](https://medium.com/the-node-js-collection/node-js-16-available-now-7f5099a97e70) continue to be available if you deactivate both accounts?

[2022-05-11 18:24] WaleedAshraf commented on #44
Yes, deleting or deactivating any of the accounts will remove its content.
Deactivating will delist the content, and Deleting an account will permanently delete all content.

[2022-05-12 12:15] sxa commented on #44
Having been on the receiving end of losing blogs elsewhere and the associated broken links in the internet to them I'd generally be against removing content that might still be useful to people.

What is the maintenance burden required to keep it active? (i.e. what would we be saving by removing the content)

[2022-05-12 13:05] mhdawson commented on #44
I agree we don't want to delete existing blogs.

[2022-05-12 13:39] Trott commented on #44
Yeah, I don't think we want to delete content if we can avoid it. We just want to make it clear that we're not adding new content. I mean, ideally speaking. I haven't looked at practical issues, so @WaleedAshraf would know about issues I'm failing to consider.

[2022-05-12 19:52] WaleedAshraf commented on #44
It's a valid point to keep the existing content. We can keep the accounts as is, but there's still some cleanup that should be done. Those medium accounts have thousands of followers, and I don't want someone from (~50) editors/writers to accidentally post something which violates COC, etc. The other concern is that "[medium@nodejs.org](mailto:medium@nodejs.org)" keeps getting submissions or spam

[2022-05-13 19:31] mhdawson commented on #44
@WaleedAshraf what you suggest here makes sense. Reducing the set of people who might post to the account makes sense.

Is the alias tied to the login for the medium account ?  If not then just getting rid of it makes sense to me.   In terms of the login itself I think reducing access to the same set of people who can access the twitter account makes sense to me.

[2022-05-16 22:08] WaleedAshraf commented on #44
The email medium@nodejs.org is being used in the contact info section of the Node.js Collection page.

I have cleaned up the writers, but can't remove editors. I think only @bnb has permission for that.
This is the current list,

![image](https://user-images.githubusercontent.com/8335457/168690096-8cdd1faf-87a9-41dc-826e-e00f13d7f987.png)

[2022-05-17 14:33] mhdawson commented on #44
@bnb is the nodejs editor an account that might become a user with the rights to add/remove editors and if so would it make sense to do that and then store the password somewhere accessible to the TSC ?

[2022-05-17 15:21] bnb commented on #44
@mhdawson it's not an account, but a role AFAIK. I think the Foundation *does* own an account, which we could set as the only Editor and provide that as the TSC account if they're willing to give it to us (and I hope they would given we're just going to be archiving it. It there's buttons I need to press, happy to do so whenever :)

[2022-05-19 20:29] mhdawson commented on #44
@bnb setting the foundation account as the only editor and then sharing with the TSC sounds like the right way to go.

@rginn, @jorydotcom do one of you have the account/credentials for the account @bnb mentions above?

[2022-06-04 16:42] Trott commented on #44
Let's create a checklist of things that need to happen before this can be closed. Please edit this comment and add things.

- [x] Edit https://medium.com/the-node-js-collection/about to say that the Node.js Collection no longer publishes or accepts contributions, and also to remove mention of medium@nodejs.org.
- [x] Delist/unpublish/hide https://medium.com/the-node-js-collection/introducing-the-n

[2022-06-04 16:43] Trott commented on #44
If someone wants to temporarily or permanently grant me owner/editor/whatever role in the Medium account, I'm happy to do most of the cleanup. I don't have the right permissions right now, though.

[2022-06-04 17:11] bnb commented on #44
Did the first two 👍🏻

[2022-06-04 21:13] WaleedAshraf commented on #44
Removing the editors can only be done from the owner's account. @bnb your account has that access. no?

[2022-06-06 19:20] bnb commented on #44
I don't believe so, no. I can remove writers but not editors (I would upload a screenshot but lol tethering while sitting on a plane waiting for maintenance). I'm assuming the Foundation "Node.js" account is the one that can indeed do this.

[2022-06-15 00:31] Trott commented on #44
@rginn Do you know if someone at the Foundation has administrative access to the Node.js Collection Medium thing that we're trying to decommission?

[2022-06-15 02:08] rginn commented on #44
I'm doing an archeological dig through our Node.js Foundation files and staff. I'll report back after I find out.

[2022-08-02 20:52] #42 closed

[2022-08-02 20:56] #44 closed